@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
     /* --gradient: linear-gradient(to top left,#e65c00,#F9D423);

    --background: 25 65% 3.6%;
    --foreground: 25 10% 97.25%;

    --muted: 25 50% 13.5%;
    --muted-foreground: 25 10% 54.5%;

    --popover: 25 45% 5.8500000000000005%;
    --popover-foreground: 25 10% 97.25%;

    --card: 25 45% 5.8500000000000005%;
    --card-foreground: 25 10% 97.25%;

    --border: 25 50% 13.5%;
    --input: 25 50% 13.5%;

    --primary: 25 100% 45%;
    --primary-foreground: 25 10% 97.25%;

    --secondary: 25 50% 13.5%;
    --secondary-foreground: 25 10% 97.25%;

    --accent: 25 50% 13.5%;
    --accent-foreground: 25 10% 97.25%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 25 10% 97.25%;

    --ring: 25 100% 45%; */
    --background: 50.4 100% 95%;
    --foreground: 50.4 5% 0%;
    --card: 50.4 50% 90%;
    --card-foreground: 50.4 5% 10%;
    --popover: 50.4 100% 95%;
    --popover-foreground: 50.4 100% 0%;
    --primary: 50.4 97.8% 63.5%;
    --primary-foreground: 0 0% 0%;
    --secondary: 50.4 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 12.399999999999999 30% 85%;
    --muted-foreground: 50.4 5% 35%;
    --accent: 12.399999999999999 30% 80%;
    --accent-foreground: 50.4 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 50.4 5% 90%;
    --border: 50.4 30% 50%;
    --input: 50.4 30% 18%;
    --ring: 50.4 97.8% 63.5%;
    --radius: 0.5rem;
  }
  .dark {
     /* --gradient: linear-gradient(to top left, #F9D423, #e65c00);

        --background: 25 5% 13.6%;
        --foreground: 25 10% 87.25%;

        --muted: 25 50% 23.5%;
        --muted-foreground: 25 10% 94.5%;

        --popover: 25 45% 15.8500000000000005%;
        --popover-foreground: 25 10% 87.25%;

        --card: 25 45% 15.8500000000000005%;
        --card-foreground: 25 10% 87.25%;

        --border: 25 50% 23.5%;
        --input: 25 50% 23.5%;

        --primary: 25 100% 55%;
        --primary-foreground: 25 10% 87.25%;

        --secondary: 25 50% 23.5%;
        --secondary-foreground: 25 10% 87.25%;

        --accent: 25 50% 23.5%;
        --accent-foreground: 25 10% 87.25%;

        --destructive: 0 62.8% 40.6%;
        --destructive-foreground: 25 10% 87.25%;

        --ring: 25 100% 55%; */
    --background: 50.4 50% 5%;
    --foreground: 50.4 5% 90%;
    --card: 50.4 50% 0%;
    --card-foreground: 50.4 5% 90%;
    --popover: 50.4 50% 5%;
    --popover-foreground: 50.4 5% 90%;
    --primary: 50.4 97.8% 63.5%;
    --primary-foreground: 0 0% 0%;
    --secondary: 50.4 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 12.399999999999999 30% 15%;
    --muted-foreground: 50.4 5% 60%;
    --accent: 12.399999999999999 30% 15%;
    --accent-foreground: 50.4 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 50.4 5% 90%;
    --border: 50.4 30% 18%;
    --input: 50.4 30% 18%;
    --ring: 50.4 97.8% 63.5%;
    --radius: 0.5rem;
  }


}
